
.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .booking-title {
    text-align: center;
    margin-bottom: 20px; /* Optional: Add some space between the title and the form */
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
  }

.book-now-button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .book-now-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  

  .calendar {
    margin-bottom: 20px;
  }
  
  .rental-images-container {
    display: flex; /* Use flexbox to display images horizontally */
    align-items: center; /* Center images vertically */
    justify-content: space-between; /* Center images horizontally */
    margin-top: 10px; /* Add margin above images */
  }
  
  .rental-image {
    width: 200px; /* Adjust image width */
    height: auto; /* Maintain image aspect ratio */
    margin: 25px; /* Add margin between images */
  }

  .rental-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .confirm-button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px; 
  }
  
  .confirm-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  .contact-form-container {
    display: flex;
    justify-content: center;
  }
  
  .contact-form {
    width: 100%; /* Adjust this width as needed */
    max-width: 400px; /* Set a maximum width */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 1rem;
    border: none;
    background-color: #e99991;
    color: #973325;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Add other styles for the form inputs and button as needed */
 

  

